<div class="well">
    <div class="row">
        <div class="col-sm-12">
            <h1>Friends</h1>
            <form novalidate id="searchFriendForm">
                <div class="input-group">
                    <input ng-model="friends.searchTerm" type="text" class="form-control" placeholder="Enter search term">
                    <span class="input-group-btn">
                        <button ng-click="friends.searchPerson()" class="btn btn-default" type="button">Search</button>
                    </span>
                </div>
            </form>
            <div ng-show="friends.searchResult.length > 0" class="well friend-well">
                <div class="row">
                    <div class="col-sm-6" ng-repeat="rs in friends.searchResult">
                        <div class="well search-well clearfix">
                            <div class="pull-left">
                                <a ui-sref="userProfile({ userId: rs.id })">
                                    <div class="name">{{ rs.firstname }} {{ rs.lastname }}</div>
                                    <div class="email">{{ rs.email }}</div>
                                </a>
                            </div>
                            <div class="pull-right">
                                <div class="actions" ng-hide="friends.isAlreadyFriend(rs.id)">
                                    <button type="button" class="btn btn-default" ng-click="friends.addPersonAsFriend(rs.id)">
                                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="soften" />
            <table st-table="friends.friends" class="table table-striped table-friends">
                <thead>
                    <tr>
                        <th st-sort="name">Friend</th>
                        <th st-sort="you_owe">You Owe</th>
                        <th st-sort="owes_you">Owes You</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="pm in friends.friends">
                        <td><a ui-sref="userProfile({ userId: pm.id })">{{ pm.firstname }} {{ pm.lastname }}</a> ({{ pm.email}})</td>
                        <td>{{ pm.negative }}€</td>
                        <td>{{ pm.positive }}€</td>
                        <td><a href="#" ng-click="friends.removeFriend(pm.id)">Remove</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>