<div class="well">
    <div class="row">
        <div class="col-sm-12">
            <h1>Payments</h1>
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-default" ui-sref="addPayment">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Payment
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h2>Owes You</h2>
                    <div google-chart chart="payment.positiveChart" style="{{cssStyle}}"></div>
                </div>
                <div class="col-sm-6">
                    <h2>You Owe</h2>
                    <div google-chart chart="payment.negativeChart" style="{{cssStyle}}"></div>
                </div>
            </div>
            <hr class="soften" />
            <div>
                <h3>Owes You</h3>
                <table st-table="payment.positiveDebts" class="table table-striped">
                    <thead>
                        <tr>
                            <th st-sort="name">Friend</th>
                            <th st-sort="amount">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pm in payment.positiveDebts">
                            <td><a ui-sref="userProfile({ userId: pm.friend.id })">{{ pm.friend.firstname }} {{ pm.friend.lastname }}</a> ({{ pm.friend.email}})</td>
                            <td>{{ pm.amount }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <h3>You Owe</h3>
                <table st-table="payment.negativeDebts" class="table table-striped">
                    <thead>
                        <tr>
                            <th st-sort="name">Friend</th>
                            <th st-sort="amount">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pm in payment.negativeDebts">
                            <td><a ui-sref="userProfile({ userId: pm.friend.id })">{{ pm.friend.firstname }} {{ pm.friend.lastname }}</a> ({{ pm.friend.email}})</td>
                            <td>{{ pm.amount }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>