<div class="row">
    <div class="col-sm-12">
        <h1>Friends</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <div class="row">
                <div class="col-sm-6">
                    <form novalidate>
                        <div class="input-group">
                            <input ng-model="friends.newFriendEmail" type="text" class="form-control" placeholder="Enter E-Mail...">
                            <span class="input-group-btn">
                                <button ng-click="friends.addFriend()" class="btn btn-default" type="button">Add Friend</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table st-table="friends.payments" class="table table-striped">
            <thead>
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pm in friends.payments">
                    <td>{{ pm.fromUser.firstname }}</td>
                    <td>{{ pm.toUser.firstname }}</td>
                    <td>{{ pm.amount | currency:pm.currency.name:2 }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>