<div class="row">
    <div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <div class="well login-well">
            <h2>Register</h2>
            <form name="registrationForm" role="form" ng-submit="login.submitRegistration(registrationForm.$valid)" novalidate>
                <div class="alert alert-danger" role="alert" ng-if="message">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    {{ login.message }}
                </div>

                <div class="form-group" ng-class="{ 'has-error' : registrationForm.firstname.$invalid && login.registrationSubmitted }">
                    <label for="firstname">Firstname</label>
                    <input ng-model="login.registration.firstname" type="text" class="form-control" name="firstname" id="firstname" placeholder="Enter Firstname" required>
                    <p ng-show="registrationForm.firstname.$invalid && login.registrationSubmitted" class="help-block">Enter a firstname.</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : registrationForm.lastname.$invalid && login.registrationSubmitted }">
                    <label for="lastname">Lastname</label>
                    <input ng-model="login.registration.lastname" type="text" class="form-control" name="lastname" id="lastname" placeholder="Enter Lastname" required>
                    <p ng-show="registrationForm.lastname.$invalid && login.registrationSubmitted" class="help-block">Enter a lastname.</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : registrationForm.email.$invalid && login.registrationSubmitted }">
                    <label for="email">Email address</label>
                    <input ng-model="login.registration.email" type="email" class="form-control" name="email" id="email" placeholder="Enter email" required>
                    <p ng-show="registrationForm.email.$invalid && login.registrationSubmitted" class="help-block">Enter a valid email.</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : registrationForm.firstPassword.$invalid && login.registrationSubmitted }">
                    <label for="firstPassword">Password</label>
                    <input ng-model="login.registration.firstPassword" type="password" class="form-control" name="firstPassword" id="firstPassword" placeholder="Enter password" required ng-minlength="8" ng-maxlength="16">
                    <p ng-show="registrationForm.firstPassword.$invalid && login.registrationSubmitted" class="help-block">Password must be 8 - 16 characters long.</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : registrationForm.secondPassword.$invalid && login.registrationSubmitted }">
                    <label for="secondPassword">Password (Repeat)</label>
                    <input ng-model="login.registration.secondPassword" type="password" class="form-control" name="secondPassword" id="secondPassword" placeholder="Enter password again" compare-to="login.registration.firstPassword" required>
                    <p ng-show="registrationForm.secondPassword.$invalid && login.registrationSubmitted" class="help-block">Password confirmation must match the password.</p>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>