<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BillWilly</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">

        <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="stylesheets/app.css" />
    </head>

    <body ng-app="app">
        <div class="container">

            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">BillWilly</a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a ui-sref="payments">Payments</a></li>
                            <li><a>Friends</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">LOGGED IN USER <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Profile</a></li>
                                    <li><a href="#">Logout</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <main id="main">
                <div ui-view>

                </div>
            </main>

            <footer class="footer">
                <div class="container">
                    <p class="text-muted">Place sticky footer content here.</p>
                </div>
            </footer>

        </div>
    </body>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
    <script src="libs/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="libs/angular-google-chart/ng-google-chart.js"></script>
    <script src="libs/angular-smart-table/dist/smart-table.min.js"></script>
    <script src="libs/jquery/dist/jquery.js"></script>

    <script src="javascripts/dist/main.js"></script>
    <script src="javascripts/dist/modules.js"></script>
    <script src="javascripts/dist/services.js"></script>
    <script src="javascripts/dist/controllers.js"></script>
</html>