<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BillWilly</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">

        <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="stylesheets/app.css" />

        <base href="/">
    </head>

    <body ng-app="app">
        <div class="container">

            <div ng-include src="'views/header.template.ejs'"></div>

            <main id="main">
                <div ui-view>

                </div>
            </main>

            <footer class="footer">
                <div class="container">
                    <p class="text-muted">&copy; BillWilly 2014</p>
                </div>
            </footer>

        </div>
    </body>

    <script src="libs/angular/angular.js"></script>
    <script src="libs/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="libs/angular-google-chart/ng-google-chart.js"></script>
    <script src="libs/angular-smart-table/dist/smart-table.min.js"></script>
    <script src="libs/jquery/dist/jquery.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.js"></script>

    <script src="javascripts/dist/main.js"></script>
    <script src="javascripts/dist/modules.js"></script>
    <script src="javascripts/dist/services.js"></script>
    <script src="javascripts/dist/controllers.js"></script>
    <script src="javascripts/dist/directives.js"></script>
</html>