<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">LOGGED IN USER <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li><a ui-sref="profile">Profile</a></li>
        <li><a href="#">Logout</a></li>
    </ul>
</li>